
body {
    background-image: url('https://media.istockphoto.com/photos/poker-table-felt-background-picture-id510657755?k=6&m=510657755&s=612x612&w=0&h=4zEa3j9KO1GhcpJb6mdehMDUVkWLLxcZRZsElJXWdgo=');
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    padding: 10px;
    border-radius: 1em;
}

#dealercards {
    display: flex;
    align-content: center;
    justify-content: center;
}

#playercards {
   display: flex;
   justify-content: center;
   align-content: center;
}

.card {
   text-align: center;
   display: inline-block;
   width: 85px;
   height: 85px;
   border: 1px solid black;
   border-radius: 10px;
   background-color: wheat;
}

#blackjack {
   visibility: hidden;
   text-align: center;
   margin-left: 43%;
   font-weight: 500;
   font-size: 20px;
   background-color: greenyellow;
   width: 200px;
   padding: 10px;
   height: 50px;
}
body {
   background-color: green;
}
h1 , h2 , h3 , h4 {
   color: white;
}
